<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Add Project</title>
</head>
<body class="page-add-project">
    <h1>Add Projects</h1>
    <form method="POST">
        <div class="form-group">
            <label for="projectStatus">Project Status:</label>
            <select id="projectStatus" name="projectStatus" required>
                <option value="Not started">Not started</option>
                <option value="In process">In process</option>
                <option value="On hold">On hold</option>
                <option value="Completed">Completed</option>
                <option value="Canceled">Canceled</option>
            </select>
        </div>
        <div class="form-group">
            <label for="partNumbers">Part Numbers:</label>
            <select id="partNumbers" name="partNumbers" multiple required>
                {% for part in parts %}
                    <option value="{{ part['partNumber'] }}">{{ part['partNumber'] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="users">Assign Users:</label>
            <select id="users" name="users" multiple>
                {% for user in users %}
                    <option value="{{ user['userId'] }}">{{ user['firstName'] }} {{ user['lastName'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Add Project</button>
    </form>
</body>
</html>
