<html>
<head>
    <title>OSU - CS 340 - Engineering Services Database</title>
</head>
<body>
    <h1>CS 340 - Introduction to Databases</h1>
    <p>This is a project created with Flask and MariaDB to facilitate the success of an organization's offerings while also providing traceability and resource
        management through a robust databse and UI. </p>
</body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
        <th>Favorite Language</th>
    </tr>
    <tbody>
    {% for item in people %}
    <tr>
        <td>{{item['name']}}</td>
        <td>{{item['age']}}</td>
        <td>{{item['location']}}</td>
        <td>{{item['favorite_color']}}</td>
    </tr>
    {% endfor %}
    </table>

</html>

